body {
    font-family: 'Roboto';
    color: #000916;
    overflow-x: hidden;
}

#home {
    height: 100vh;
    width: 100vw;
    background-image: url('https://s10.postimg.org/46lbd62wp/coverpik.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2.65em;
  font-weight: 700;
}


#nav {
    width: 100vw;
    border-radius: 0;
    background-color: #000916;
    border: 0;
    height: 72px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000916;
    margin: 4px auto;
}

.navbar-default .navbar-toggle {
    width: 50px;
    height: 50px;
    background-color: #1EFF8E;
    border-radius: 0;
    border: 0;
    margin: 0;
    position: relative;
    right: 27px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #00D364;
}

.navbar-default div.navbar-collapse {
    border-top: none;
    box-shadow: none;
}

#home .navbar .container {
    margin-top: 11px;
}

#collapse ul .navbar-nav {
    border: none;
}

#collapse ul li {
    background-color: #000916;
}

#collapse ul li a {
    color: #B0BEC5;
}

#collapse ul li a:hover {
    color: #1EFF8E;
}

#collapse ul li a:active, #collapse ul li a:focus {
    background-color: #000916;
    font-weight: bolder;
    color: #B0BEC5;
}

#home-wrapper {
    height: 100%;
}

.navbar-default .navbar-nav> .active:hover {
    background-color: #00D364;
}

.navbar-default .navbar-nav> .active a, .navbar-default .navbar-nav> .active:hover a, .navbar-default .navbar-nav> .active:focus a {
    font-weight: bold;
    background: #000916;
}

#home-wrapper .row, #soc-media, .navbar-header a img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#svg-wrapper {
    text-align: center;
    position: relative;
    margin-top: 25%;
}

#desc {
    font-size: 3em;
    font-weight: lighter;
    color: #B0BEC5;
    margin-bottom: 0;
    padding-bottom: 0;
}

#desc span {
    color: #1EFF8E;
}

.header-wrapper {
    margin-top: 116px;
    margin-bottom: 48px;
}

.header-subline {
    color: #90A4AE;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 1.1em;
}

.l {
    text-align: center;
}

h1 {
    font-weight: bolder;
    font-size: 4em;
}

h1:before {
    content: "";
    position: absolute;
    left: 47%;
    bottom: -8%;
    width: 6%;
    /* or 100px */
    border-bottom: 5px solid #1EFF8E;
}

#owl-image {
    width: 100vw;
    height: 300px;
    background-image: url('https://s20.postimg.org/49b5meoul/nature.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-bottom: 48px;
}

#aboutus {
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 106px;
}

h2 small {
    font-family: Roboto;
    font-size: 14px;
    font-weight: lighter;
    s color: #90A4AE;
}

.mini-header small {
    color: #90A4AE;
}

#skills-header {
    margin-bottom: 48px;
}

.portfolio-works .col-lg-3, .portfolio-works .col-lg-3 .col-md-6, .portfolio-works .col-lg-3 .col-md-6 .col-sm-6, .portfolio-works .col-lg-3 .col-md-6 .col-sm-6 .col-xs-12 {
    padding: 0;
    margin: 0;
}

.portfolio-work {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.portfolio-work:hover {
    filter: none;
}

.progress {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background-color: #ECEFF1;
}

.progress-bar {
    border-radius: 0;
    border-bottom: 3px solid #1EFF8E;
    background-color: #000916;
}

.form-group input, .form-group textarea {
    resize: vertical;
    background-color: #ECEFF1;
    box-shadow: none;
    border-radius: 0;
    border: 0;
}

#send {
    width: 72px;
    height: 36px;
    color: #ECEFF1;
    background-color: #000916;
    box-shadow: none;
    border-radius: 0;
    border: 0;
}

#send:hover {
    color: #000916;
    background-color: #1EFF8E;
}

.form-group input:focus, .form-group textarea:focus {
    color: #000916;
    background-color: #CFD8DC;
    box-shadow: none;
}

.form-control {
    color: #546E7A;
    height: 36px;
}

#footer {
    background-color: #000916;
    margin-top: 116px;
    height: 200px;
    width: 100vw;
}

#footer .container {
    height: 100%;
}

#soc-media {
    text-align: center;
    margin: 0 auto;
}

#soc-media img {
    margin: 20px;
    width: 48px;
}

#soc-media a {
    text-decoration: none;
}

#footer-p {
    color: #ECEFF1;
    text-align: center;
    background-color: #000916;
    font-size: 0.75em;
}

#footer-p span {
    color: #1EFF8E;
}

#contact-text {
    margin-bottom: 48px;
}

@media screen and (max-height: 500px)
{
    #svg-wrapper
    {
        visibility: hidden;
    }
}
@media screen and (max-width: 1200px) {
    #svg-wrapper {
        margin-top: 25%;
    }
}

@media screen and (max-width: 992px) {
    #svg-wrapper {
        margin-top: 25%;
    }
    #footer {
        height: 160px;
    }
    #soc-media img {
        margin: 10px;
        width: 48px;
    }
}

@media screen and (max-width: 767px) {
    #owl-image, #skills-header {
        margin-bottom: 32px;
    }
    #footer{
        margin-top: 72px;
    }
    #desc {
        font-size: 36px;
    }
    #collapse ul li:hover, .navbar-default .navbar-nav> .active:hover a {
        background-color: #001228;
    }
    #svg-wrapper {
        margin-top: 10%;
    }
    h1 {
        font-size: 3em;
    }
    .header-wrapper {
        margin-top: 72px;
        margin-bottom: 32px;
    }
    .header-subline {
        color: #90A4AE;
        font-family: "Hero";
        font-weight: lighter;
        font-size: 1em;
    }
    #collapse ul {
        margin-top: 11px;
    }
    h1:before {
        content: "";
        position: absolute;
        left: 46%;
        bottom: -8%;
        width: 8%;
        /* or 100px */
        border-bottom: 5px solid #1EFF8E;
    }
    h2 small {
        display: none;
    }
    #footer {
        height: 120px;
    }
    #soc-media img {
        margin: 12px;
        width: 36px;
    }
}

.container-fluid {
    padding: 0;
    margin: 0;
}


